<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ChatRoom App</title>
</head>

<body>
    <nav class="shadow-lg">
        <div class="container flex flex-wrap justify-between mx-auto">
            <a class="flex items-center m-3" href="">
                <img class="h-12 mr-2" src="https://cdn2.iconfinder.com/data/icons/social-media-iconez/64/Line-512.png"
                    alt="">
                <span class="self-center text-xl font-semibold">ChatRoom App</span>
            </a>

            <div class="flex items-center justify-between">
                <ul class="flex justify-between gap-7 border rounded-lg border-blue-300 font-bold bg-blue-100 p-4">
                    <li><a class="p-2 hover:rounded hover:bg-blue-400" href="">Rooms</a></li>
                    <li><a class="p-2 hover:rounded hover:bg-blue-400" href="">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}

    {% endblock %}
</body>

</html>